<div class="login-block">
  <div class="row">
    <div class="col-sm-12">
      <form action="/admin/check" method="POST">
        <div class="text-center">
          <img src="/images/logo.png" alt="" />
        </div>
        <div class="auth-box card">
          <div class="card-block">
            <div class="row mb-2">
              <div class="col-md-12">
                <h3 class="text-center text-primary">Đăng nhập</h3>
              </div>
            </div>
            <p class="text-muted text-center pb-1">Đăng nhập bằng tài khoản
              thông thường của bạn</p>
            <div class="form-group mb-3">
              <label class="mb-1" for="email">Email: </label>
              <input
                type="email"
                class="form-control text-secondary"
                style="font-size: 14px;"
                id="email"
                name="email"
                placeholder="Nhập tài khoản email của bạn"
              />
              {{#if errors}}
                <p class="label text-danger">{{objError.email}}</p>
              {{/if}}
            </div>
            <div class="form-group mb-3">
              <label class="mb-1" for="password">Mật khẩu: </label>
              <input
                type="password"
                class="form-control text-secondary"
                style="font-size: 14px;"
                id="password"
                name="password"
                placeholder="Nhập mật khẩu của bạn"
              />
              {{#if errors}}
                <p class="label text-danger">{{objError.password}}</p>
              {{/if}}
            </div>
            {{#if wrongLogin}}
              <div class="pt-3">
                <p class="label text-danger">{{wrongLogin}}</p>
              </div>
            {{/if}}
            <div class="row" style="margin-top: 30px;">
              <div class="col-md-12">
                <button
                  type="submit"
                  class="btn btn-primary btn-md text-center mb-4"
                  style="width: 100%;"
                >Đăng nhập</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>