<footer class="footer p-4 position-absolute start-0 bottom-0">
    <img src="/images/logo.png" alt="">
    <p class="text-center text-white mb-0" style="font-size: 13px; opacity: 0.8;">© Copyright all rights reserved 2023</p>
</footer>